{% extends "bigcard.html" %}
{% load static %}
{% load premium %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block scss %}
<link href="{% static 'css/settings.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block import_js %}
<script defer src="{% static 'js/premium.js' %}"></script>
{% endblock %}

{% block card-title %}
{{user.username}}{% if user|has_group:"Premium" %}✪{% endif %}'s Account
{% endblock %}

{% block incard %}
<h3>Premium✪</h3>
{% if user|has_group:"Premium" %}
<p>Thank you for supporting Showcuts! ❤️</p>
{% else %}
<btn id='get-premium' class='black-card' style="padding: .25rem;">Click here to get a ✪</btn>
<p>We can't take payment now, so have Premium for free for a bit!</p>
{% endif %}
<p>Premium lets you see all actions in a long Shortcut, and let's anyone see all the actions of your Shortcuts!</p>

<h3>Shortcuts</h3>
<a href="{% url 'user-liked'%}">
  <h6>Liked Shortcuts</h6>
</a>


<h3>Account</h3>
<p>Signed in as <b>{{ user.username }}</b>.</p>
<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button id="logout-account" type="submit">Log out</button>
</form>
{% endblock %}