{% load static %}
<script src="{% static 'js/custom.js' %}"></script>

<div id="mySidenav" class="sidenav closed {{ hidden|yesno:"hide-by-default,," }}">
  <a href="javascript:void(0)" class="closebtn btn-container" id='closebtn'>
    <img id='close' src="{% static 'assets/ui/x.svg' %}" />
  </a>
  <a href="{% url 'submit' %}">
    <div id="sidenav-logo">
      <img id="logo" src="{% static 'assets/logo/colored.svg' %}" />
      <p id="logo-text">Showcuts</p>
    </div>
  </a>
  <a class='sidebar-heading' href="{% url 'about'%}">About</a>
  <a class='sidebar-heading' href="{% url 'action-list'%}">Custom actions</a>
</div>
